

@media screen and (min-width: 1280px) {
    section:not(#home) {
        height: 100vh;
        padding: 120px 0 0 14.58%;
        box-sizing: border-box;
    }
    .wrap .innerWrap section#home {
        height: 100vh;
        padding: 200px 0 0 14.58%;
        background: url('../images/bg_01.png') no-repeat left 50px / 100%;
        box-sizing: border-box;
    }
    .wrap .innerWrap section#home h2 {
        font-size: 6vw;
        font-weight: 900;
        max-width: 60vw;
        margin-bottom: 85px;
        line-height: 6.5vw;
    }
    .wrap .innerWrap section#home h2 + a {
        position: relative;
        display: block;
        width: 170px;
        margin-bottom: 20vh;
        font-size: 22px;
        font-weight: 700;
        line-height: 50px;
    }
    .wrap .innerWrap section#home h2 + a:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 155px;
        height: 50px;
        background-color: #0f33ff;
        transition: 0.15s width ease-in-out;
    }
    .wrap .innerWrap section#home h2 + a:hover:before {
        width: 190px;
    }
    .wrap .innerWrap section#home h2 + a svg {
        width: 40px;
        position: absolute;
        right: 25px;
        top: 14px;
        height: 22px;
    }
    .wrap .innerWrap section#home h2 + a svg path {
        transition-duration: 0.2s;
    }
    .wrap .innerWrap section#home h2 + a:hover svg path {
        d: path("M1.6,9.4l25.7,0c0,0,0.1,0,0-0.1l-6.9-6.7c-0.7-0.6-0.7-1.6,0-2.2c0.7-0.6,1.7-0.6,2.3,0l9.8,9.4c0.3,0.3,0.5,0.7,0.5,1.1s-0.2,0.9-0.5,1.1l-9.7,9.3c-0.7,0.6-1.8,0.8-2.4,0.1c-0.7-0.6-0.7-1.6,0-2.2l7-6.6c0,0,0-0.1,0-0.1l-25.7,0C0.7,12.6,0,11.9,0,11C0,10.1,0.7,9.4,1.6,9.4z")
    }
    .wrap .innerWrap section#home ul li {
        position: relative;
        width: 32%;
        float: left;
        display: block;
    }
    .wrap .innerWrap section#home ul li:not(:first-of-type) {
        margin-left: 2%;
    }
    
    .wrap .innerWrap section#home ul li:before {
        content: '';
        position: absolute;
        left: 0;
        top: -35px;
        width: 50px;
        height: 8px;
        background-color: transparent;
        transition-duration: 0.5s;
    }
    .wrap .innerWrap section#home ul li:hover:before {
        background-color: #0f33ff;
    }
    .wrap .innerWrap section#home ul li * {
        transition-duration: 0.5s;
        color: rgba(255, 255, 255, 0.5);
    }
    .wrap .innerWrap section#home ul li:hover *{
        color: #fff;
    }
    .wrap .innerWrap section#home ul li strong {
        display: block;
        margin-bottom: 15px;
        font-size: 22px;
    }
    .wrap .innerWrap section#home ul li p {
        max-width: 60%;
        line-height: 22px;
    }
    /* home fin */

    .wrap .innerWrap section#works {
        position: relative;
        padding-right: 5%;
    }
    .wrap .innerWrap section#works h2 {
        font-size: 6vw;
        font-weight: 900;
        text-align: center;
        margin-bottom: 5vw;
    }
    .wrap .innerWrap section#works ul {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 60vh;
    }
    .wrap .innerWrap section#works ul li {
        display: block;
        float: left;
        text-align: center;
    }
    .wrap .innerWrap section#works ul li:not(.active) {
        width: 25%;
    }
    .wrap .innerWrap section#works ul li.active {
        width: 35%;
    }
    .wrap .innerWrap section#works ul li:not(.noMargin) {
        margin-left: 7.5%;
    }
    .wrap .innerWrap section#works ul li span {
        display: block;
        width: 100%;
        margin-bottom: 35px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .wrap .innerWrap section#works ul li:nth-child(1) span{
        background-image: url('../images/slideImg_01.jpg');
    }
    .wrap .innerWrap section#works ul li:nth-child(2) span{
        background-image: url('../images/slideImg_02.jpg');
    }
    .wrap .innerWrap section#works ul li:nth-child(3) span{
        background-image: url('../images/slideImg_03.jpg');
    }
    
    .wrap .innerWrap section#works ul li:not(.active) strong {
        font-size: 13px;
        font-weight: 400;
    }
    .wrap .innerWrap section#works ul li:not(.active) p {
        display: none;
    }
    .wrap .innerWrap section#works ul li.active strong {
        display: block;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    .wrap .innerWrap section#works ul li.active p {
        font-size: 17px;
        font-weight: 300;
        line-height: 25px;
    }
    .wrap .innerWrap section#works .btnBox {
        position: absolute;
        left: 14.58%;
        top: 55%;
        width: 80.42%;
        text-indent: -9999px;
    }
    .wrap .innerWrap section#works .btnBox a {
        display: block;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .wrap .innerWrap section#works .btnBox a.prev {
        float: left;
        background-image: url('../images/arrow_L.svg');
    }
    .wrap .innerWrap section#works .btnBox a.next {
        float: right;
        background-image: url('../images/arrow_R.svg');
    }
    /* works fin */
    
    .wrap .innerWrap section#about {
        position: relative;
        background: url('../images/bg_02.png') no-repeat left top / 100%;
    }
    .wrap .innerWrap section#about .bgSvg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .wrap .innerWrap section#about h2 {
        font-size: 6vw;
        font-weight: 900;
        margin-bottom: 120px;
    }
    .wrap .innerWrap section#about a {
        display: block;
        width: 160px;
        font-size: 24px;
        height: 30px;
        margin-bottom: 120px;
    }
        .wrap .innerWrap section#about a svg {
        height: 18px;
        width: 50px;
    }
    .wrap .innerWrap section#about a svg path {
        transform: translateX(-10px);
    }
    .wrap .innerWrap section#about a:hover svg path {
        d: path("M1.6,9.4h30.8c0,0,0.1,0,0-0.1l-6.9-6.7c-0.7-0.6-0.7-1.6,0-2.3c0.7-0.6,1.7-0.6,2.3,0l9.8,9.4c0.3,0.3,0.5,0.7,0.5,1.1s-0.2,0.9-0.5,1.1L28,21.5c-0.7,0.6-1.8,0.8-2.4,0.1c-0.7-0.6-0.7-1.6,0-2.3l7-6.6c0,0,0-0.1,0-0.1H1.6C0.7,12.6,0,11.9,0,11C0,10.1,0.7,9.4,1.6,9.4z")
    }
    .wrap .innerWrap section#about ul {
        width: 60%;
    }
    .wrap .innerWrap section#about ul li {
        display: block;
        float: left;
        width: 29%;
        padding-top: 120px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        outline: 8px solid #0f33ff;
        position: relative;
    }
    .wrap .innerWrap section#about ul li:not(:first-child) {
        margin-left: 6.5%;
    }
    .wrap .innerWrap section#about ul li:nth-child(1) {
        background-image: url('../images/carrerImg_01.jpg');
    }
    .wrap .innerWrap section#about ul li:nth-child(2) {
        background-image: url('../images/carrerImg_02.jpg');
    }
    .wrap .innerWrap section#about ul li:nth-child(3) {
        background-image: url('../images/carrerImg_03.jpg');
    }
    .wrap .innerWrap section#about ul li span {
        position: absolute;
        bottom: -20px;
        left: 20px;
        display: block;
        font-size: 18px;
        font-weight: 700;
    }
    /* about fin */
    .wrap .innerWrap section#contact {
        position: relative;
        background: url('../images/bg_03.png') no-repeat center;
    }
    .wrap .innerWrap section#contact h2 {
        display: none;
    }
    .wrap .innerWrap section#contact address {
        width: 30%;
        position: absolute;
        right: 3%;
        top: 30%;
    }
    .wrap .innerWrap section#contact ul li {
        display: block;
        font-style: normal;
        text-align: center;
    }
    .wrap .innerWrap section#contact ul li:nth-child(-n+3) {
        font-size: 20px;
        margin-bottom: 50px;
    }
    .wrap .innerWrap section#contact ul li.btn a {
        display: block;
        width: 200px;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 500;
        line-height: 60px;
    }
    .wrap .innerWrap section#contact ul li.blue a {
        background-color: #1769ff;
    }
    .wrap .innerWrap section#contact ul li.pink a {
        background-color: #ea4c89;
    }
    .wrap .innerWrap section#contact ul li.btn:not(:last-of-type) {
        margin-bottom: 40px;
    }
    /* contact fin */

    .wrap .innerWrap section#
}
